#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 230px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('../utils/google_button.svg') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    margin-left: 10px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
  .vl {
    margin-top: 70px;
    border-left: 1px solid rgb(104, 103, 103);
    height: 250px;
  }
 .my-facebook-button-class{
   width: 240px;
   height: 50px;
   background-color: #1877f2;
   border: 0;
   border-radius: 3px;
   color: white;
   padding-right: 1.5em;
   }
   .my-facebook-button-class svg{
    width: 45px;
    height: 45px;
    margin-right: 1em;
    }
 .my-google-button-class{
  width: 240px;
  height: 50px;
 }
 .my-google-button-class div{
  padding: 13px;
  height: 47px;
  width: 44px;
 }