.flip-card {
    background-color: transparent;
    margin: 5px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    background-color:#3AAFA9;
    border-radius: 5px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 5px;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #DEF2F1;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(255, 255, 255);
    color: #17252A;
    transform: rotateY(180deg);
    border-radius: 5px;
    padding: 8px;
  }