@font-face {
    font-family: 'eczar';
    src: url('../static/Eczar-Regular.ttf'); 
  }

  body{
    font-family: 'eczar';
    background-color: black;
  }
.navbar {
    height: 80px;
    background-color:black;
    padding: 0;
    padding-right: 20px;
    @media (max-width: 40em) {
        padding-right: 0px;
    }
    &__conntainer {
        display: flex;
        justify-content: space-around;
    }

    &__brand {
        // margin: 3px;
        margin-left: 15px;
    }

    &__title {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 0;
        
        color: #F2AA4CFF;
    }

    &__collapse{
        background-color: black;
    }

    &__nav {
        background-color: black;
        
        &__link {
            letter-spacing: 0.08em;
            text-transform: uppercase;
            font-weight: bold;
            @media (max-width: 40em) {
                padding: 10px;
                margin-left: 10px;
                color: #fff;
                font-weight: normal;
            }
        }
    }
    &__toggle {
        background-color: #F2AA4CFF;
        margin-right: 15px;
    }
}

.content {
    &__intro {
        height: 300px ; 
        width: 100% ; 
        @media (max-width: 40em) {
            height: 400px;
        }
    }
}


.article {
    &__title {
        text-align: center;
        color: #F2AA4CFF;
        font-size: 40px;
        letter-spacing: 0.2em;
    }

    &__hr {
        background: #F2AA4CFF;
        width: 600px;
        @media (max-width: 40em) {
            width: 300px;
        }
    }
    
    &__card {
        margin-bottom: 0em;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        background: black;
        padding: 5px;
        border-radius: 10px;
        @media (max-width: 40em) {
            width: 340px;
            height: 440px;
            padding: 20px;
        }
    }

    &__cardBody {
        width: 670px;
        padding: 0;
        @media (max-width: 40em) {
            width: 300px;
            height: 400px;
        }
    }
    &__cardRow {
        width: 100%;
        @media (max-width: 40em) {
            width: 300px;
            height: 400px;
            margin: 0;
        }
    }
    
    &__colImg{
        padding-left: 10px;
        padding-right: 10px;
    }

    &__colBd{
        padding: 5px;
    }

    &__img {
        display: flex;
        justify-content: start;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        @media (max-width: 40em) {
            padding: 0;
            height: 70px;
            margin: 5px;
        }
    }

    &__cardTitle {
        margin-top: 2px;
        margin-left: 5px;
        height: 60px;
    }

    &__cardFooter{
        display: flex;
        justify-content: space-between;
    }

    &__text{
        margin-left: 5px;
    }
    &__titleText {
        color:#F2AA4CFF; 
        font-size: 23px ;
        font-weight: bold ;
        @media (max-width: 40em) {
            font-size: 19px ;
        }
    }
    
}

.main {
    background-color: #101820FF;
    &__main {
        background-color: #101820FF;
        padding: 10px ;
        width: 100% ;
        display: flex ;
        justify-content: center ;
        margin-top: 60px;
    }
    &__right {
        @media (max-width: 40em) {
            display: none;
        }
    }

    &__title{
        display: flex ; 
        justify-content: center ;
        letter-spacing: 0.2em ;
        color: #F2AA4CFF ;
        line-height: 1.4em ;
        font-weight: bold ;
        font-family: "montserrat" ;
    }
    &__hr {
        background: #F2AA4CFF;
        width: 600px;
        @media (max-width: 40em) {
            width: 300px;
        }
    }
    
    &__card {
        margin-bottom: 0em;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        background: black;
        padding: 5px;
        border-radius: 10px;
        @media (max-width: 40em) {
            width: 340px;
            height: 440px;
            padding: 20px;
        }
    }

    &__cardBody {
        width: 670px;
        padding: 0;
        @media (max-width: 40em) {
            width: 300px;
            height: 400px;
        }
    }
    &__cardRow {
        width: 100%;
        @media (max-width: 40em) {
            width: 300px;
            height: 400px;
            margin: 0;
        }
    }
    
    &__colImg{
        padding-left: 10px;
        padding-right: 10px;
    }

    &__colBd{
        padding: 5px;
    }

    &__img {
        display: flex;
        justify-content: start;
        margin-top: 10px;
        margin-left: 5px;
        @media (max-width: 40em) {
            padding: 0;
            height: 70px;
            margin: 5px;
        }
    }

    &__cardTitle {
        margin-top: 2px;
        margin-left: 5px;
        height: 60px;
    }

    &__cardFooter{
        display: flex;
        justify-content: space-between;
    }

    &__text{
        margin-left: 5px;
    }
    &__titleText {
        color:#F2AA4CFF; 
        font-size: 23px ;
        font-weight: bold ;
        @media (max-width: 40em) {
            font-size: 19px ;
        }
    }
}

.recentBar{
    border-width: 0; 
    background-color: #101820FF;
    &__title{
        display: flex ; 
        justify-content: center ;
        letter-spacing: 0.2em ;
        line-height: 1.4em ;
        font-weight: bold ;
        font-family: "charter" ;
        color: #F2AA4CFF;
    }
    &__card {
        width: 18rem;
        margin-bottom: 5px;
        border-width: 3px;
        border-color: black;
        background-color: #101820FF;
     }

     &__cardTitle {
        color:#F2AA4CFF;
        text-decoration:none;
     }
    &__cardFooter{
        justify-content: space-between ;
        display: flex ;
    }
}

.bookmarkBar{
    border-width: 0; 
    background-color: #101820FF;
    @media (max-width: 40em){
        display: none;
    }
    &__title{
        display: flex ; 
        justify-content: center ;
        letter-spacing: 0.2em ;
        line-height: 1.4em ;
        font-weight: bold ;
        font-family: "charter" ;
        color: #F2AA4CFF;
    }
    &__card {
        width: 18rem;
        margin-bottom: 5px;
        border-width: 3px;
        border-color: black;
        background-color: #101820FF;
     }

     &__cardTitle {
        color:#F2AA4CFF;
        text-decoration:none;
     }
    &__cardFooter{
        justify-content: space-between ;
        display: flex ;
    }
}


.login {
    @media (max-width: 40em) {
        margin-top: 130px ; 
        width: 100% ;
    }
}
.modal-content {
    border: 0em;
}

.auth_button {
    display: flex ; 
    flex-direction: column ;
    
    @media  (max-width: 40em){
        margin-left: 45px;
    }
}

.auth_logo_name {
    font-weight: bold ;
    font-size: 30px ; 
    margin-top: 20px ;
    font-family: "charter" ; 
    color: #F2AA4CFF ; 
    margin-left: 20px ;
    @media  (max-width: 40em){
        margin-left: 60px ;
    }
}


.post {
    &__hr {
        width: 700px ;
        border-width: 2px ;
        background: #F2AA4CFF;
        @media (max-width: 40em){
            width: 350px ;
        }
    }
    &__M{
        padding: 10px ;
        margin-top: 60px ;
        background-color: #101820FF ; 
        height: 100% ;
        display: flex ;
        justify-content: center ;
    }
    
    &__leftSide {
        padding-top: 32px ;
        width: 350px ;
        @media (max-width: 40em){
            display: none;
        }
    }
    &__bookmark{
        border-width: 0 ;
        margin-bottom: 5px ; 
        margin-top: 8px ;
        @media (max-width: 40em){
            display: none;
        }
        background-color: #101820FF;
        &__title{
            display: flex ; 
            justify-content: center ;
            letter-spacing: 0.2em ;
            line-height: 1.4em ;
            font-weight: bold ;
            font-family: "charter" ;
            color: #F2AA4CFF;
        }
        &__card {
            width: 18rem;
            margin-bottom: 5px;
            border-width: 3px;
            border-color: black;
            background-color: #101820FF;
         }
    
         &__cardTitle {
            color:#F2AA4CFF;
            text-decoration:none;
         }
        &__cardFooter{
            justify-content: space-between ;
            display: flex ;
        }
    }
    &__recentSideBar {
        border-width: 0 ;
        background-color: #101820FF;
        @media (max-width: 40em){
            display: none;
        }
    }
    &__bigMain {
        display: flex ;
        justify-content: center;
        @media (max-width: 40em){
            width: 100%;
        }
    }
    &__main{
        margin: 10px;
        background-color: #101820FF;
        @media (max-width: 40em){
            width: 100%;
        }
    }
    &__star{
        padding-top: 400px;
        margin-right: 20px;
        position: fixed;
        @media (max-width: 40em){
            display: none;
        }
        &__small {
            display: none;
            @media (max-width: 40em){
                display: inline;
            }
            &__inner{
                display: flex ; 
                flex-direction: row ;
                margin: auto;
                padding-left: 130px;
            }
        }
    }
    &__container{
        padding: 50px;
        padding-right: 0;
        background-color: #101820FF;
        @media (max-width:40em ) {
            padding: 10px;
        }
    }
    &__title {
        color: #F2AA4CFF;
        display: flex;
        justify-content: start;
        letter-spacing: 0.2em;
        line-height: 1.4em;
        font-weight: bold ;
        font-family: "montserrat";
        @media (max-width: 40em){
            letter-spacing: 0em;
            line-height: 1em;
            font-weight: bold ;
        }
    }
    &__adminCard{ 
        width: 700px ; 
        margin-left: auto ;
        margin-right: auto ; 
        background-color: black ; 
        border-width: 2px ; 
        border-color: black ;
        @media (max-width: 40em){
            width: 350px ; 
        }
    }
    &__adminCardBody{
        padding: 0;
        width: 100%;
    }
    &__adminCardFooter {
        margin-top: 20px ;
        margin-left: 250px ;
        @media (max-width: 40em){
            margin-left: 0px ;
        }
    }
    &__postCommentCard{
        margin-top: 20px ; 
        width: 700px ;
        margin-left: auto ;
        margin-right: auto ; 
        background-color: black ;
        @media (max-width: 40em){
            width: 350px ;
        }
    }
}

.comment {
    margin-bottom: 20px ; 
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ; 
    border: 0 ; 
    background-color: black ;
    @media (max-width: 40em){
        width: 100% ;
        margin-right: 5px ; 
    }
}

.user {
    width: 100% ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ; 
    height: 100% ;
    background-color: #101820FF;
    &__main {
        display: flex ;
        justify-content: center; 
        @media (max-width: 40em){
            flex-direction: column;
        }
    }
    &__jumbo{
        background-color: black;
        margin-top: 90px ; 
        padding-top: 10px ;
        margin-left: 20px;
        margin-right: 20px;
        
        @media (max-width: 40em){
            width: 95% ;
            margin-left: 10px;
        }
    }
    &__user {
        width: 500px ; 
        margin-left: 30px ;
        display: flex ;
        padding-top: 30px ; 
        @media (max-width: 40em){
            width: 98% ;
            margin-left: 10px ;
        }
    }
}

.profile__jumbo{
    background-color: black;
        margin-top: 90px ; 
        padding-top: 10px ;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 250px;
        @media (max-width: 40em){
            width: 95% ;
            margin-left: 10px;
        }
}

.user_bookmark {
    width: 100% ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ; 
    height: 100% ;
    margin-bottom: 95px ;
}
.bookmark {
    
    @media (max-width: 40em){
        display: none;
    }
    &__title{
        display: flex ; 
        justify-content: center ;
        letter-spacing: 0.2em ;
        color: #F2AA4CFF ;
        line-height: 1.4em ;
        font-weight: bold ;
        font-family: "charter"; 
    }
    &__hr {
        width: 650px;
        background-color: #F2AA4CFF;
        @media (max-width: 40em){
            width: 360px ;
        }
    }

    &__card {
        margin-bottom: 0em;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        background: black;
        padding: 5px;
        border-radius: 10px;
        @media (max-width: 40em) {
            width: 340px;
            height: 440px;
            padding: 20px;
        }
    }

    &__cardBody {
        width: 670px;
        padding: 0;
        @media (max-width: 40em) {
            width: 300px;
            height: 400px;
        }
    }
    &__cardRow {
        width: 100%;
        @media (max-width: 40em) {
            width: 300px;
            height: 400px;
            margin: 0;
        }
    }
    
    &__colImg{
        padding-left: 10px;
        padding-right: 10px;
    }

    &__colBd{
        padding: 5px;
    }

    &__img {
        display: flex;
        justify-content: start;
        margin-top: 10px;
        margin-left: 5px;
        @media (max-width: 40em) {
            padding: 0;
            height: 70px;
            margin: 5px;
        }
    }

    &__cardTitle {
        margin-top: 2px;
        margin-left: 5px;
        height: 60px;
    }

    &__cardFooter{
        display: flex;
        justify-content: space-between;
    }

    &__text{
        margin-left: 5px;
        color: #f2f2f2;
    }
}

.edit {
    display: flex ; 
    justify-content: space-between;

    &__row {
        height: 760px;
        width: 100%;
        @media (max-width: 40em) {
            width: 430px;
            height: 500px;
        }
    }
    &__col1 {
        background-color: #101820FF;
        &__1 {
            margin-top: 0px;
        }
        &__2 {
            width: 100% ; 
            margin: auto ;
        }
        &__3 {
            width: 100% ;
            margin: auto ;
        }
    }

    &__col2 {
        background-color: white ;
        &__1 {
            justify-content: start ;
            margin-top: 50px;
        }
        &__title {
            margin: auto ; 
            width: 700px ;
            @media (max-width: 40em) {
                width: 400px;
                margin-left: 10px;
            }
        }
        &__hr {
            margin: auto ; 
            width: 700px ;
            background-color: #F2AA4CFF;
            @media (max-width: 40em) {
                width: 390px;
                margin-left: 10px;
            }
        }
        &__form {
            width: 700px ;
            height: 100% ;
            margin: auto ;
            @media (max-width: 40em) {
                width: 390px;
                margin: 10px;
            }
        }
    }
} 

.replyComment{
    &__card {
        margin-bottom: 20px ; 
        width: 600px ;
        margin-left: auto ;
        margin-right: auto ; 
        background-color: black ;
        @media(max-width: 40em){
            width: 100%;
        }
    }
}
.replyBox__card{
    margin-top: 20px ; 
    width: 600px ;
    margin-left: auto ;
    margin-right: auto ; 
    border: 2px ; 
    border-color: #F2AA4CFF ; 
    background-color: black ;
    @media(max-width: 40em){
        width: 100%;
    }
}
.particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    opacity: 0.48;
}
.particles-js-login {
    position: absolute;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    opacity: 0.90;
    overflow-x: hidden;
}

.loading{
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
}

.line {
    height: 12px;
    margin: 100px;
    animation: pulse 1s infinite ease-in-out ;
    align-items: center;
}
.loading div:nth-child(1){
    width: 338px;
}

@keyframes pulse {
    0%{
        background-color: rgba(165, 165, 165, .1);
    }
    50%{
        background-color: rgba(165, 165, 165, .3);
    }
    100%{
        background-color: rgba(165, 165, 165, .1);
    }
}

.noBookmark{
    border-width: 0;
    background-color:#101820FF;
    @media (max-width: 40em){
        display: none;
    }
}

.C404{
    margin: 100px;
    @media (max-width: 40em){
        margin: 0;
        margin-top: 150px;
        margin-bottom: 225px;
    }
    &__card{
        background-color: black;
        color: whitesmoke;
    }
}