.postArticle_Heading{
    font-weight: bold;
    font-family: "Haas Grot Text R Web";
    color: #f2f2f2;
}
.postArticle_SubHeading{
    font-weight: bold;
    font-family: "Haas Grot Text R Web";
    color: #f2f2f2;
}
.postArticle_TextPara{
    font-family:'eczar';
    color: #f2f2f2;
       
}
em{
    font-style: normal;
}
.code_para{
    width: 100%;
    overflow: scroll;
    
}
.code_para::-webkit-scrollbar {
    height: 2px; 
  }
  
  .code_para::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #333333;
  }
  
  .code_para::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #F2AA4CFF;
    outline: 2px solid #333333;
  }
  
  .code_para::-webkit-scrollbar:vertical {
    display: none;
  }
.postArticle_Equation{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #f2f2f2;
}

.postArticle_Code{
    background-color: #333333;
    border-radius: 3px;
    font-family: courier, monospace;
    width: 90%;
    padding: 10px;
    padding-left: 20px;
    margin: auto;
    color: #bbbbbb;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.postArticle_Img {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}
@media (max-width: 40em){
    
    .postArticle_Img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 99%;
    }
}
